---
import BlogPost from "../components/BlogPost.astro";
import { siteConfig } from "../config/site-config";
import MainLayout from "../layouts/MainLayout.astro";

import "../styles/global.css";

interface MarkdownPost {
  frontmatter: {
    title: string;
    date: string;
    description: string;
  };
  default: unknown; // o puedes especificar un tipo si sabes qué es
}

const matches = import.meta.glob<MarkdownPost>("./posts/*.{md,mdx}", {
  eager: true,
});

const posts = Object.entries(matches).map(([path, mod]) => ({
  ...(mod.frontmatter ?? {}),
  url: path.replace("./posts", "/blog").replace(/\.mdx?$/, ""),
}));
---

<MainLayout title="Javier's Blog">
  <section class="bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-white">
        {siteConfig.title}
      </h1>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {posts.map((post) => <BlogPost {...post} key={post.url} />)}
      </div>
    </div>
  </section>
</MainLayout>
